.inter-font {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1A0B2E;
}

.nav-container h1 {
    color: #FFFFFF;
    font-size: 50px;
    font-weight: bold;
}

.text-wave {
    background: linear-gradient(to top, #F7E93F, #FB09B4, #9100F8);
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.mid-btn {
    display: flex;
    gap: 32px;
    color: #FFFFFF;
}

.nav-button {
    background: linear-gradient(to right, #F7E93F, #FB09B4, #9100F8);
    color: #FFFFFF;
    padding: 12px 20px;
    border-radius: 40px;
    width: 100%;
}

.hamburger {
    display: none;
    margin-right: 20px;
}

.hero-container {
    background-image: url(./assets/hero-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.hero {
    width: 100%;
    height: 760px;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-img {
    width: 420px;
    height: 420px;
    background-image: url(./assets/hero-circle.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-tooltip {
    color: #1A0B2E;
    background-color: #00FF88;
    width: 75px;
    height: 38px;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 60px;
    left: 120px;
    animation: tooltip 1.2s ease-out forwards;
}

@keyframes tooltip {
    from {
        top: -200px;
        opacity: 0;
    }

    to {
        top: 70px;
        opacity: 1;
    }
}

.hero-text {
    text-align: center;
    color: #FFFFFF;
    margin-top: 40px;
}

.hero-text h1 {
    font-size: 60px;
    font-weight: 800px;
    margin-top: 0;
    margin-bottom: 0;
}

.hero-text p {
    margin-top: 8px;
    color: #ffffffc0;
}

.hero-btns {
    margin-top: 24px;
    display: flex;
    gap: 6px;
}

.hero-left {
    background: linear-gradient(to right, #F7E93F, #FB09B4, #9100F8);
    display: flex;
    justify-content: center;
    border-radius: 40px;
    width: 200px;
    height: 44px;
    position: relative;
    animation: in 1.2s ease-out forwards;
}

@keyframes in {
    from {
        right: 500px;
        opacity: 0;
    }

    to {
        right: 0;
        opacity: 1;
    }
}

.hero-left img {
    margin-top: 12px;
    height: 45%;
    width: 9%;
}

.button1 {
    background-color: transparent;
    border: none;
    color: #FFFFFF;
    font-weight: 600;
}

.hero-right {
    background-color: #ffffff00;
    display: flex;
    justify-content: center;
    border-radius: 40px;
    width: 147px;
    height: 44px;
    border: 1px solid #00FF88;
    position: relative;

    animation: right-in 1.2s ease-out forwards;
}

@keyframes right-in {
    from {
        left: 500px;
        opacity: 0;
    }

    to {
        left: 00000;
        opacity: 1;
    }
}

.hero-right img {
    margin-top: 16px;
    height: 32%;
    width: 12%;
}

.button2 {
    background-color: transparent;
    border: none;
    color: #00FF88;
    font-weight: 600;
}


.podcast {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FFFFFF;
    background-color: #1A0B2E
}

.podcast-text {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.podcast-text h1 {
    color: #FFFFFF;
    font-size: 48px;
    font-weight: bold;
    padding-top: 50px;
}

.podcast-text p {
    color: #ffffffb6;
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 30px;
    margin-left: 20px;
    width: 70%;
}

.line {
    border: 1px solid #7cbffe22;
    width: 80%;
    margin-top: 80px;
}

.podcast-cards {
    margin-top: 80px;
    margin-bottom: 120px;
    display: flex;
    justify-content: space-between;
    width: 1200px;
}

.podcast-card {
    width: 240px;
}

.podcast-card h1 {
    color: #00FF88;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 1px;
}

.podcast-card p {
    color: #ffffffc5;
}

.techwave-grid-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.techwave-section {
    background-color: #230E3D;
    width: 100%;
    text-align: center;
    color: #FFFFFF;
}

.techwave-header h1 {
    color: #FFFFFF;
    font-size: 48px;
    font-weight: bold;
    margin: 0;
    padding-top: 120px;
    padding-bottom: 40px;
}

.techwave-container {
    display: grid;
    max-width: 75%;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    padding-bottom: 120px;
}

.techwave-container .box-1 {
    padding-top: 107px;
    border-radius: 40px;
    grid-row: span 2;
    background: rgba(53, 17, 101, 0.4);
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    height: 380px;
}

.box-1 img {
    height: 60px;
    width: 60px;
    padding-bottom: 16px;
}

.box-1 h3 {
    width: 300px;
    text-align: start;
    margin-bottom: 16px;
    font-size: 24px;
    font-weight: bold;
}

.box-1 p {
    width: 300px;
    text-align: left;
    margin-bottom: 110px;
    color: #ffffff97;
}

.techwave-container .box-2 {
    border-radius: 40px;
    grid-column: span 2;
    background: rgba(53, 17, 101, 0.4);
}

.box2-3 {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 40px;
    height: 147px;
}

.box2-3 img {
    height: 60px;
    width: 50px;
    padding-bottom: 2px;
}

.box2-3 h3 {
    width: 300px;
    text-align: start;
    margin-bottom: 2px;
    font-size: 24px;
    font-weight: bold;
}

.box2-3 p {
    margin-bottom: 80px;
    color: #ffffff97;
}

.techwave-container .box-3 {
    border-radius: 40px;
    grid-column: span 2;
    background: rgba(53, 17, 101, 0.4);
}

.techwave-container .box-4 {
    border-radius: 40px;
    grid-column: span 2;
    background: rgba(53, 17, 101, 0.4);
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.box-4 img {
    height: 60px;
    width: 60px;
}

.box-4 h3 {
    width: 300px;
    margin-bottom: 2px;
    font-size: 24px;
    text-align: start;
}

.box-4 p {
    color: #ffffff97;
    text-align: start;
}

.techwave-container .box-5 {
    border-radius: 40px;
    background: rgba(53, 17, 101, 0.4);
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.box-5 img {
    height: 60px;
    width: 60px;
}

.box-5 h3 {
    width: 300px;
    margin-bottom: 2px;
    font-size: 24px;
    text-align: start;
}

.box-5 p {
    color: #ffffff97;
    text-align: start;
}

.episodes {
    text-align: center;
    background-color: #1A0B2E;
    display: flex;
    flex-direction: column;
    padding-left: 160px;
    padding-top: 120px;
    padding-bottom: 120px;
}

.episodes h1 {
    font-size: 48px;
    color: #FFFFFF;
    font-weight: bold;
    max-width: 91%;
}

.episodes-card-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    width: 75%;
}

.episodes-card-container .players {
    background-color: #1A0B2E;
}

.episodes-card-container .video-img {
    height: 220px;
    border-radius: 20px;
}

.episodes-card-container a {
    text-decoration: none;
    border-radius: 20px;
}

.episodes-card-container>a {
    background-color: #371e58b8;
}

.player1 {
    position: relative;
    left: 440px;
    top: 85px;
}

.player2 {
    position: relative;
    left: 775px;
    top: 80px;
}

.player3 {
    position: relative;
    left: 1110px;
    top: 80px;
}

.episodes-card-text h4 {
    font-size: 24px;
    font-weight: bold;
    color: #FFFFFF;
    margin-top: 24px;
    width: 330px;
    margin-left: 24px;
    display: flex;
}

.episodes-card-title {
    font-size: 16px;
    color: #ffffffa0;
    margin-left: 24px;
    text-align: left;
}

.card-timer {
    height: 24px;
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 12px 24px 24px 5px;
    justify-content: start;
}

.card-timer .time {
    color: #00FF88;
}

.timer3 {
    margin-top: 35px;
}

.card-timer img {
    height: 20px;
    width: 20px;
    padding-left: 24px;
}

.host {
    /* border: 1px solid red; */
    text-align: center;
    padding-bottom: 120px;
    background-color: #1A0B2E;
}

.host-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.host-container h1 {
    color: #FFFFFF;
    font-size: 48px;
    font-weight: bold;
}

.host-info {
    display: flex;
    color: #FFFFFF;
    width: 64%;
    gap: 24px;
    background-color: #41275379;
    padding: 40px;
    border-radius: 48px;
}

.host-about {
    text-align: left;
}

.host-about p {
    color: #ffffff8a;
}

.host-about h4 {
    font-size: 32px;
    margin-bottom: 16px;
}

.host-icons {
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}
.host-about img {
    border: 1px solid blueviolet;
    padding: 10px;
    border-radius: 50%;
}
.footer{
    background-image: url(./assets/footer-bg.png);
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    color: #FFFFFF;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-container h1{
    font-size: 80px;
    font-weight: bold;
    margin-top: 165px;
    margin-bottom: 0;
    padding-left: 80px;
}
.footer-icons{
    display: flex;
    justify-content: center;
    gap: 90px; 
    padding-left: 50px;
}
.icon{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 30px;
}
.copyright{
    padding-top: 32px;
    color: #ffffff5e;
}



@media screen and (max-width:576px) {
    .html {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .mid-btn,
    .nav-button {
        display: none;
    }

    .hero-tooltip {
        position: relative;
        left: 110px;
    }

    .hero-container {
        padding-top: 20px;
        background-size: contain;
        background-color: #1A0B2E;
    }

    .hero {
        justify-content: start;
        position: relative;
        bottom: 100px;
    }

    .hero-btns {
        width: 100%;
    }

    .hamburger {
        background-image: url(./assets/hamburger-menu.png);
        background-repeat: no-repeat;
        background-size: cover;
        display: block;
        margin-right: 20px;
        width: 25px;
        height: 25px;
    }

    .hero-text p {
        width: 400px;
    }

    .hero-img img {
        height: 80px;

    }

    .hero-img {
        margin-top: 0;
        height: 200px;
        width: 200px;
    }

    .hero-btns {
        display: flex;
        justify-content: center;
    }

    .hero-right,
    .hero-left {
        width: 40%;
        animation: go-up 1.2s ease-out forwards;
    }

    @keyframes go-up {
        from {
            top: 200px;
            opacity: 0;
        }

        to {
            top: 0;
            opacity: 1;
        }
    }

    .podcast-cards {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 50%);
    }

    .podcast-text h1 {
        padding-top: -100px;
        margin-top: -300px;
    }

    .line {
        margin: 1;
    }

    .podcast-text p {
        width: 90%;
        padding: 0;
        margin: 20px;
        margin-left: 30px;
        padding-top: 10px;
        text-align: center;
    }

    .podcast-cards {
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .podcast-card {
        width: 100%;
    }

    .techwave-header h1 {
        width: 80%;
        padding: 0;
        font-size: 32px;
        margin-left: 45px;
        padding-top: 50px;
        margin-bottom: 16px;
    }

    .techwave-container {
        display: flex;
        flex-direction: column;
        padding-bottom: 0;
    }

    .box-1 {
        padding-right: 43px;
        width: 100%;
        margin-left: -40px;
    }

    .box-1 p,
    .box-2 p,
    .box-3 p,
    .box-4 p,
    .box-5 p {
        width: 100%;
        text-align: left;
    }

    .box-2,
    .box-3,
    .box-4,
    .box-5 {
        width: 100%;
        margin-left: -40px;
    }

    .episodes {
        padding-left: 0%;
        width: 100%;
        padding-top: 0;
    }

    .episodes-card-container {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
        position: relative;
    }

    .episodes-card-container .players {
        background-color: #1A0B2E;
    }

    .video {
        margin: 30px;
        margin-bottom: 5px;
        margin-top: 5px;
        border-radius: 20px;
    }

    .episodes-card-container .video-img {
        width: 100%;
        height: 50%;
    }

    .episodes-card-text h4 {
        width: 100%;
    }

    .episodes-card-title {
        text-align: left;
        width: 80%;
    }

    .player1 {
        position: absolute;
        left: 45%;
        top: 10%;
        margin: 0;
        padding: 0;
    }

    .player2 {
        position: absolute;
        left: 45%;
        top: 42%;
        margin: 0;
        padding: 0;
    }

    .player3 {
        position: absolute;
        left: 45%;
        top: 75%;
        margin: 0;
        padding: 0;
    }
    .host{
        padding-bottom: 10px;
    }
    .host-info{
        display: flex;
        flex-direction: column;
    }
    .host-icons{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .footer-container{
        width: 100%;
    }
    .footer-container h1{
        padding-left: 15px;
    }
    .footer-icons{
        margin-right: 40px;
        display: grid;
        grid-template-columns: repeat(2,auto);
        column-gap: 20px;
        row-gap: 20px;

    }
}