.inter-font {
    font-family: "Inter", sans-serif;
}

.body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1A0B2E;
}

.nav-container h1 {
    color: #FFFFFF;
    font-size: 50px;
    font-weight: bold;
}

.text-wave {
    background: linear-gradient(to top, #F7E93F, #FB09B4, #9100F8);
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.mid-btn {
    display: flex;
    gap: 32px;
    color: #FFFFFF;
}

.nav-button {
    background: linear-gradient(to right, #F7E93F, #FB09B4, #9100F8);
    color: #FFFFFF;
    padding: 12px 20px;
    border-radius: 40px;
    width: 100%;
}

.hero {
    background-image: url(./assets/hero-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 760px;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-img {
    width: 18%;
    height: 46%;
    background-image: url(./assets/hero-circle.png);
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-text {
    text-align: center;
    color: #FFFFFF;
    margin-top: 40px;
}

.hero-text h1 {
    font-size: 60px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
}

.hero-text p {
    margin-top: 8px;
}

.hero-btn {
    margin-top: 24px;
}
.button1{
    background: linear-gradient(to right, #F7E93F, #FB09B4, #9100F8);
    color: #FFFFFF;
    border-radius: 40px;
    width: 200px;
    padding: 12px 20px ;
    height: 44px;
}
.hero-btn2{
    color: #00FF88;
    background-color: #ffffff00;
    border: 1px solid #00FF88;
    padding: 12px 20px;
    border-radius: 12px;
    width: 147px;
    margin-left: 8px;
}
